.guest-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.guest-modal {
  background: linear-gradient(135deg, #FF7E79, #FFDF44, #79D4FF);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.guest-details {
  text-align: center;
}

.guest-name {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.guest-photo {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 4px;
}

.guest-description {
  margin-bottom: 10px;
  color: #555;
  font-size: 14px;
  line-height: 1.5;
}

.guest-schedule {
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.guest-status {
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
}

/* Specific styles for different statuses */
.open-status {
  background-color: #28a745; /* Green for open */
}

.break-status {

}

.closed-status {
  background-color: #dc3545;
  color: #333;
}
