# dependencies
/node_modules
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# Environment Files
.env.sensitive

# Ignore Python bytecode and cache
__pycache__/
*.pyc

# Ignore session files in scraping directory
/scraping/insta_session
/scraping/sessions/*

# Ignore other potential session files
/scraping/deleteddfanaccount

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Exclude the BFG JAR file
bfg-1.14.0.jar

# Exclude log files
/thrift-store-backend/logs/*

# Exclude Winston audit logs
/thrift-store-backend/logs/*.json
