.upcoming-events {
  min-width: 350px;
  margin: 0;
  padding: 10px;
}

.upcoming-events h2 {
  margin-bottom: 15px;
}

.upcoming-events ul {
  list-style-type: none;
  padding: 0;
}

.event-item {
  display: flex;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.event-photo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

/* Customization for each event */
.event-1 {
  color: green;
}

.event-2 {
  color: orange;
}

.event-3 {
  color: red;
}

.event-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-item h3 {
  margin: 0 0 5px;
  font-size: 18px;
}

.event-item p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

/* Error message */
.error-message {
  color: #d9534f;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #d9534f;
  padding: 10px;
  border-radius: 4px;
  background-color: #f8d7da;
  margin-top: 10px;
  text-align: center;
}
