.upcoming-events {
  min-width: 350px;
  margin: 0;
  padding: 10px;
}

.upcoming-events h2 {
  margin-bottom: 15px;
  text-align: center;
}

.upcoming-events ul {
  list-style-type: none;
  padding: 0;
}

.event-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.event-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.event-photo {
  width: 300px;
  height: 140px;
  background-size: cover;
  background-position: center;
  margin: 0;
}

.event-photo img,
.event-photo .placeholder-custom {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.event-details {
  text-align: center;
  margin-top: 5px;
}

.event-details h3 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.event-datetime {
  font-size: 15px;
  color: #444;
  font-weight: 500;
  margin-top: 2px;
  margin-bottom: 5px;
}

.preview-text {
  font-size: 16px;
  color: #000;
}

.error-message {
  color: #d9534f;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #d9534f;
  padding: 10px;
  border-radius: 4px;
  background-color: #f8d7da;
  margin-top: 10px;
  text-align: center;
}
