.featured-blogs {
    display: flex;
    width: 450px;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
  }
  
  .featured-blog {
    padding: 15px;
    background-color: #f8f8f8;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .featured-blog:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .featured-blog h3 {
    font-size: 22px;
    margin-bottom: 8px;
  }
  
  .featured-blog p {
    font-size: 16px;
    margin-bottom: 12px;
    color: #555;
  }
  
  .featured-blog a {
    color: #007bff;
    text-decoration: none;
  }
  
  .featured-blog a:hover {
    text-decoration: underline;
  }
  
/* Error message */
.error-message {
    color: #d9534f;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #d9534f;
    padding: 10px;
    border-radius: 4px;
    background-color: #f8d7da;
    margin-top: 10px;
    text-align: center;
  }

  .read-more-link {
    color: #007bff !important;
    text-decoration: none !important;
    font-weight: bold !important;
    text-align: center !important;
    width: 100% !important;
    cursor: pointer !important;
}

.read-more-link:hover {
    text-decoration: underline !important;
}
