/* Login Page Styling */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #ffebcd, #f0e68c, #bdb76b);
  font-family: 'Verdana', sans-serif;
}

.error-message {
  color: #ff4500;
  margin-top: 10px;
  font-size: 14px;
}

/* Admin Page Styling */
.admin-page-user-input,
.admin-page-pass-input {
  width: 90%;
}

.login-form {
  background: linear-gradient(145deg, #fffacd, #ffe4b5);
  padding: 30px;
  border: 3px solid #000000;
  box-shadow: 6px 6px 0px #8b4513;
  width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form h2 {
  font-size: 24px;
  color: #00008b;
  font-weight: bold;
  text-shadow: 1px 1px 0px #fff;
}

.login-form label {
  display: block;
  margin: 15px 0 5px;
  color: #000080;
  font-size: 14px;
  text-align: left;
  width: 90%;
}

.login-form input {
  width: 90%;
  padding: 10px;
  border: 2px solid #696969;
  border-radius: 3px;
  background: linear-gradient(145deg, #f0e68c, #fffacd);
  color: #000;
  text-align: center;
}

.login-actions {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.back-to-home-button, .login-button {
  background: linear-gradient(145deg, #d2691e, #cd853f);
  color: #ffffff;
  border: 2px solid #000000;
  padding: 10px;
  font-size: 16px;
  margin: auto;
  margin-bottom: 5px;
  cursor: pointer;
  text-align: center;
  width: 70%;
}

.back-to-home-button:hover, .login-button:hover {
  background: linear-gradient(145deg, #a0522d, #8b4513);
}

/* Mobile Responsive Layout */
@media (max-width: 768px) {
  .metrics-status-container {
    padding-left: 0;
  }

  .status-container, .metrics-container {
    width: 100%;
  }
}
