.tools {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

.edit-section {
  max-width: 600px;
}

.admin-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  border: 3px solid #000;
  color: #000;
  padding: 10px;
  max-width: 300px;
}

.tools-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.tool-button,
.add-event-button,
.add-guest-button,
.add-vendor-button,
.view-map-button,
.add-survey-button,
.add-blog-button,
.edit-vendor-button,
.edit-guest-button,
.edit-event-button,
.edit-blogs-button,
.scrape-button,
.perform-backup-button {
  width: 200px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.tool-button {
  background-color: #2196F3;
}

.tool-button:hover {
  background-color: #1E88E5;
}

.add-event-button {
  background-color: #4CAF50;
}

.add-event-button:hover {
  background-color: #218526;
}

.add-guest-button {
  background-color: #FF9800;
}

.add-guest-button:hover {
  background-color: #c26b02;
}

.add-vendor-button {
  background-color: #b00fd8;
}

.add-vendor-button:hover {
  background-color: #59076d;
}

.view-map-button {
  background-color: #fbff00;
  color: black;
}

.view-map-button:hover {
  background-color: #af9e01;
}

.add-survey-button {
  background-color: #ee5ac2;
}

.add-survey-button:hover {
  background-color: #cf2b9e;
}

.add-blog-button {
  background-color: #007bff;
}

.add-blog-button:hover {
  background-color: #0056b3;
}

.edit-vendor-button {
  background-color: #4d4d4d;
}

.edit-vendor-button:hover {
  background-color: #2b2b2b;
}

.edit-guest-button {
  background-color: #32ce24;
}

.edit-guest-button:hover {
  background-color: #077503;
}

.edit-event-button {
  background-color: #5bd0ff;
}

.edit-event-button:hover {
  background-color: #248596;
}

.edit-blogs-button {
  background-color: #fd3636;
}

.edit-blogs-button:hover {
  background-color: #880707;
}

.scrape-button {
  background-color: #720788;
}

.scrape-button:hover {
  background-color: #a717c4;
}

.perform-backup-button {
  background-color: #00ffaa;
}

.perform-backup-button:hover {
  background-color: #00b377;
}

.tools-divider {
  width: 100%;
  height: 2px;
  background-color: #ccc;
  margin: 6px 0;
}