/* Individual Button Containers */
.vendor-button-container,
.guest-button-container,
.event-button-container,
.blog-button-container,
.ticket-button-container,
.discount-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

/* Add and Edit Button Styles */
.vendor-add-button,
.guest-add-button,
.event-add-button,
.blog-add-button,
.ticket-add-button,
.discount-add-button,
.vendor-edit-button,
.guest-edit-button,
.event-edit-button,
.blog-edit-button,
.ticket-edit-button,
.discount-edit-button {
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  border-radius: 4px;
}

/* Add Button Colors */
.vendor-add-button,
.guest-add-button,
.event-add-button,
.blog-add-button,
.ticket-add-button,
.discount-add-button {
  background-color: #28a745; /* Green color for Add buttons */
  color: white;
}

.vendor-add-button:hover,
.guest-add-button:hover,
.event-add-button:hover,
.blog-add-button:hover,
.ticket-add-button:hover,
.discount-add-button:hover {
  background-color: #218838; /* Darker green on hover */
}

/* Edit Button Colors */
.vendor-edit-button,
.guest-edit-button,
.event-edit-button,
.blog-edit-button,
.ticket-edit-button,
.discount-edit-button {
  background-color: #ffc107; /* Yellow color for Edit buttons */
  color: black;
}

.vendor-edit-button:hover,
.guest-edit-button:hover,
.event-edit-button:hover,
.blog-edit-button:hover,
.ticket-edit-button:hover,
.discount-edit-button:hover {
  background-color: #e0a800; /* Darker yellow on hover */
}

/* Utility Buttons Container */
.utility-button-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

/* Utility Buttons Styles */
.view-map-button,
.add-survey-button,
.scrape-button,
.perform-backup-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* Individual Utility Button Colors */
.view-map-button {
  background-color: #4CAF50;
}

.view-map-button:hover {
  background-color: #45a049;
}

.add-survey-button {
  background-color: #FF9800;
}

.add-survey-button:hover {
  background-color: #fb8c00;
}

.scrape-button {
  background-color: #3f51b5;
}

.scrape-button:hover {
  background-color: #3949ab;
}

.perform-backup-button {
  background-color: #009688;
}

.perform-backup-button:hover {
  background-color: #00796b;
}

/* Divider between button sections */
.tools-divider {
  width: 100%;
  height: 2px;
  background-color: #000000;
  margin: 20px 0;
}
