.header {
  background: linear-gradient(to top right, purple 0%, green 100%);
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-logo-title {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 70px;
  max-height: 100%;
  width: 100%;
  object-fit: contain;
}

.logo-link {
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.header nav {
  display: flex;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.header nav ul li {
  display: inline;
}

.header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.header nav ul li a:hover {
  text-decoration: underline;
}

/* Add styles for GuestStatus to ensure it fits snugly */
.guest-status {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

/* Mobile Menu Icon */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
}

/* Mobile Design */
@media (max-width: 700px) {
  .header nav {
    display: none;
  }

  .menu-icon {
    display: flex;
  }

  .nav.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px; /* Same as header height */
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    padding: 10px 20px;
    width: 40%;
    z-index: 1002;
  }

  .nav.open ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .nav.open ul li {
    margin: 0;
    width: 100%;
  }

  .nav.open ul li a {
    color: #fff;
    padding: 10px 0;
    text-align: left;
    display: block;
    width: 100%;
  }
}
