/* Blog.css */
.blog-page {
    margin: 0 auto;
}

.blog-content {
    max-width: 800px;
    margin: 0 auto;
}

.blog-post {
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.blog-date {
    color: #888;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.blog-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}

.blog-content {
    font-size: 1.1em;
    line-height: 1.6;
}

/* Buttons */
.add-blog-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-blog-button:hover {
    background-color: #0056b3;
}

/* FeaturedBlogs.css */
.featured-blogs {
    margin-top: 20px;
}

.featured-blog {
    margin-bottom: 30px;
}

.featured-blog-date {
    color: #888;
    font-size: 0.9em;
}

.featured-blog-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 8px;
}

.featured-blog-preview {
    font-size: 1em;
    margin-bottom: 10px;
}

.read-more-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.read-more-link:hover {
    text-decoration: underline;
}
